/* Responsive Breakpoints for reference */
/* --breakpoint-sm: 576px; */
/* --breakpoint-md: 768px; */
/* --breakpoint-lg: 992px; */
/* --breakpoint-xl: 1200px; */
/* --breakpoint-xxl: 1400px; */

:root {

  /* Colors Grayscale */
  --color-off-black: #0d0d0d;
  --color-off-white: #f5f5f5;
  --color-gray-light: #d6d6d6;

  /* Colors Hued */
  --color-blue-medium: #0a0ae7;
  --color-blue-light: #a1c5ff;
  --color-green-dark: #006c00;
  --color-green-light: #85c477;
  --color-gold-medium: #f1c712;
  --color-gold-light: #ffe77d;
  --color-orange-light: #d89415;
  --color-red-medium: #ae0404;
}
