@import './_variables.css';

.button-app {
  font-size: .75rem;
  font-weight: 700;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: .375rem;
  background-color: var(--color-off-black);
  color: var(--color-off-white);
}

.button-primary {
  border-color: var(--color-off-white);
}

.button-secondary {
  border-color: var(--color-blue-pale);
  color: var(--color-off-black);
  background-color: var(--color-blue-pale);
}

.round-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: .5rem;
}

.round {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--color-gold);
}

.game-board {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: end;
  gap: 1px;
}

.column {
  font-weight: 700;
  color: var(--color-off-white);
}

.button-category,
.button-clue {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: .5rem 0;
  border: none;
  margin-top: 1px;
  font-size: .75rem;
  font-weight: 700;
  background-color: var(--color-blue);
  color: var(--color-gold);

  &.button-category {
    min-height: 3rem;
    padding: .125rem;
    font-size: .625rem;
    line-height: .75rem;
    color: var(--color-off-white);
  }

  &.selected {
    background-color: var(--color-gold);
    color: var(--color-off-black);
  }

  &.played {
    color: var(--color-blue);
  }
}

.score-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .75rem;
  margin-top: 1px;
  background-color: var(--color-gold);
}

.score-info > * {
  font-weight: 700;
  line-height: 1rem;
}

.score-title {
  text-transform: uppercase;
  font-size: .75rem;
  color: var(--color-blue);
}

.score-amount {
  padding: .125rem;
  border-radius: 5px;
  background-color: var(--color-off-white);

  &.negative {
    color: var(--color-red);
  }
}

.clue-actions {
  display: flex;
}

.clue-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: .75rem;
  line-height: 1rem;

  div {
    font-weight: 700;
  }
}

.most-recent-response {
  display: flex;
  align-items: center;
  font-size: .75rem;
  font-weight: 700;

  &.correct {
    margin-right: .75rem;
    color: var(--color-green-html);
  }

  &.incorrect {
    margin-right: .5rem;
    color: var(--color-red);
  }
}

.button-correct {
  background-color: var(--color-green-html);

  div {
    width: .375rem;
    height: 1.25rem;
    background-color: var(--color-off-white);
    transform: rotate(45deg);

    &:first-of-type {
      top: .12rem;
      right: .11rem;
      transform: rotate(-45deg);
      height: .75rem;
    }
  }
}

.button-incorrect {
  background-color: var(--color-red);

  div {
    right: .2rem;
    width: .375rem;
    height: 1.75rem;
    background-color: var(--color-off-white);
    transform: rotate(45deg);

    &:first-of-type {
      left: .2rem;
      transform: rotate(-45deg);
    }
  }
}

.button-response {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 50%;
  margin-left: .5rem;

  &:not(.active) {
    background-color: var(--color-gray);
  }

  div {
    position: relative;
  }
}

.message-change-categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  font-size: .875rem;
  color: var(--color-off-white);

  button {
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: .625rem;
    font-weight: 700;
    background-color: var(--color-off-white);
  }
}

.categories-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5rem 2rem;
  gap: .25rem;
}

.category-input {
  width: 100%;
  max-width: 500px;
}

.categories-form-actions {
  display: flex;
  gap: 1rem;
  margin-top: .25rem;
}
