@import './_variables.css';

.rounds-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: .5rem;
}

.round {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--color-gold-medium);
}

.game-board {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: end;
  gap: 1px;
}

.column > button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: none;
  margin-top: 1px;
  background-color: var(--color-blue-medium);
  font-weight: 700;
}

.button-category {
  min-height: 3rem;
  padding: .125rem;
  overflow-wrap: anywhere;
  font-size: .625rem;
  line-height: .75rem;
  color: var(--color-off-white);
}

.button-clue {
  padding: .875rem 0;
  font-size: .75rem;
  color: var(--color-gold-medium);

  &.selected {
    background-color: var(--color-gold-light);
    color: var(--color-off-black);
  }

  &.played {
    color: var(--color-blue-medium);
  }
}

.score-bar {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: .75rem;
  margin-top: 1px;
  background-color: var(--color-gold-medium);
}

.score-info > div {
  font-weight: 700;
  line-height: 1rem;
}

.score-title {
  margin-bottom: .125rem;
  text-transform: uppercase;
  font-size: .75rem;
  color: var(--color-blue-medium);
}

.score-amount {
  padding: .25rem;
  border-radius: .25rem;
  text-align: right;
  background-color: var(--color-off-white);
  color: var(--color-off-black);

  &.negative {
    color: var(--color-red-medium);
  }
}

.response-buttons-container {
  display: flex;
  gap: 1.75rem;
}

.info-box {
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin-top: 5px;

  div {
    font-size: 1rem;
    font-weight: 700;
    color: var(--color-off-black);
  }
}

.selected-clue-info,
.most-recent-response {
  padding: .25rem 1rem;
  border-radius: .25rem;
  background-color: var(--color-gray-light);
}

.most-recent-response {

  &.correct {
    color: var(--color-green-dark);
  }

  &.incorrect {
    color: var(--color-red-medium);
  }

  &.pass {
    color: var(--color-blue-medium);
  }
}

.categories-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5rem 2rem;
  gap: .25rem;
}

.categories-form-input {
  width: 100%;
  max-width: 180px;
  font-size: 1rem;
}

.categories-form-actions {
  display: flex;
  gap: 1rem;
  margin-top: .25rem;
}
